data/bpe.en
data/bpe.zh
data/corpus.tc.32k.en.shuf
data/corpus.tc.32k.zh.shuf
data/newsdev2017.tc.32k.zh
data/newsdev2017.tc.en
data/newstest2017.tc.32k.zh
data/newstest2017.tc.en
data/vocab.32k.en.txt
data/vocab.32k.zh.txt
trandemo/__pycache__/__init__.cpython-37.pyc
trandemo/data/__pycache__/__init__.cpython-37.pyc
trandemo/data/__pycache__/dataset.cpython-37.pyc
trandemo/data/__pycache__/iterator.cpython-37.pyc
trandemo/data/__pycache__/pipeline.cpython-37.pyc
trandemo/data/__pycache__/vocabulary.cpython-37.pyc
trandemo/model/__pycache__/__init__.cpython-37.pyc
trandemo/model/__pycache__/transformer.cpython-37.pyc
.idea/.gitignore
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/TransDemo.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
